h1, h2, h3 {
  margin-top: 0;
}
.App {
  box-sizing: border-box;
  text-align: left;
  padding: 10px;
  max-width: 800px;
  margin: 20px auto 0;
}

a.audio {
  margin-left: 10px;
}

.Meaning h2 {
  margin-top: 10px;
  margin-bottom: 0;
}

.Definitions {
  margin-top: 10px;
}

.definition {
  margin-top: 10px;
}

.definition hr {
  width: 70%;
  border-color: #d7d7d7;
}

.Collapsible__trigger {
  text-align: center;
  width: 200px;
  display: inline-block;
  text-decoration: underline;
  color: white;
  background-color: #606060;
  border: #606060 1px solid;
  padding-bottom: 4px;
}

.Collapsible__trigger:hover {
 font-weight: bold;
}

.Collapsible__contentInner {
  border: #606060 1px solid;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.Photos {
  margin-top: 20px;
}
.Gallery {
  display: flex;
  flex-wrap: wrap;
}

.pexels-photo {
  flex-basis: 33.33%;
}

.pexels-photo a img {
  width: 100%;
  height: auto;
}

@media (max-width: 650px) {
  .pexels-photo {
    flex-basis: 50%;
  }
}

@media (max-width: 450px) {
  .pexels-photo {
    flex-basis: 100%;
  }
}

.pexels-photo-info {
  padding-top: 8px;
  padding-bottom: 4px;
  border-bottom: 1px solid #606060;
}

a {
  color: rgba(31, 68, 79, 0.65);
  font-weight: 500;
}